.gutter pre {
  color: #999;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .class .title {
  color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #42b983;
}
pre .title {
  color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #42b983;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  margin: 0;
}
a {
  text-decoration: none;
  color: #34495e;
}
img {
  border: none;
}
h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
  color: #2c3e50;
}
/* code, */
/* pre { */
  /* font-family: 'Inconsolata', Monaco, courier, monospace; */
  /* font-size: 0.9em; */
  /* background-color: #f9f9f9; */
  /* -webkit-font-smoothing: initial; */
  /* -moz-osx-font-smoothing: initial; */
/* } */
/* code { */
  /* color: #525252; */
  /* padding: 2px 6px; */
  /* margin: 0 2px; */
  /* border: 1px solid #e6e6e6; */
  /* white-space: nowrap; */
/* } */
em {
  color: #7f8c8d;
}
p {
  word-spacing: 0.05em;
}
a.button {
  display: inline-block;
  font-size: 1.2em;
  color: #42b983;
  font-weight: 700;
  background-color: #fff;
  padding: 12px 24px;
  border-radius: 24px;
  border: 2px solid #42b983;
  transition: all 0.15s ease;
}
a.button:hover {
  color: #fff;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  background-color: #42b983;
}
#main {
  position: relative;
  z-index: 1;
  padding: 0 60px 30px;
  overflow-x: hidden;
}
#ad {
  width: 130px;
  position: fixed;
  z-index: 99;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 13px;
}
#ad .carbon-img,
#ad .carbon-text {
  display: block;
  margin-bottom: 6px;
  font-weight: normal;
  color: #34495e;
}
#ad .carbon-poweredby {
  color: #aaa;
  font-weight: normal;
}
#demo,
.demo {
  border: 1px solid #f0f0f0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 0px;
  padding: 25px 35px;
  margin-left: 0.8em;
  margin-bottom: 40px;
  font-size: 1.2em;
  line-height: 1.5em;
}
#demo h1,
.demo h1 {
  margin: 0 0 0.5em;
  font-size: 1.8em;
}
#demo ul,
.demo ul {
  padding-left: 1.5em;
  margin: 0;
}
#demo li,
.demo li {
  cursor: pointer;
  color: #34495e;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#demo li.done,
.demo li.done {
  color: #7f8c8d;
  text-decoration: line-through;
}
ul#demo li,
ul.demo li {
  margin-left: 1.5em;
}
@media screen and (max-width: 720px) {
  #demo,
  .demo {
    margin-left: 0;
  }
}
.content.blog h1 {
  margin: 0 0 0.5em;
}
.content.blog h2 {
  margin: 0.8em 0;
  padding-bottom: 0;
  border-bottom: none;
}
.content.blog h2 a {
  color: #2c3e50;
}
.content.blog h2 a:hover {
  border-bottom: 2px solid #42b983;
}
.content.blog h4 {
  color: #7f8c8d;
  margin: 1.2em 0;
}
.content.blog figure,
.content.blog p {
  margin-left: 0;
}
.content.blog .post {
  padding: 1em 0 2em;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 1400px) and (min-width: 720px) {
  .content.blog {
    margin: 0 0 0 280px;
  }
}
#header {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  padding: 25px 60px;
  position: relative;
  z-index: 0;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 60px;
  top: 25px;
  height: 40px;
  line-height: 40px;
}
#nav .break {
  display: none;
}
#nav li {
  display: inline-block;
  margin: 0 0.6em;
}
.nav-link {
  padding-bottom: 3px;
}
.nav-link:hover,
.nav-link.current {
  border-bottom: 3px solid #42b983;
}
#logo {
  display: inline-block;
  font-size: 1.25em;
  line-height: 40px;
  color: #2c3e50;
  font-family: 'Lato', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
#logo img {
  vertical-align: middle;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}
#mobile-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  z-index: 9;
  display: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
}
#mobile-bar .menu-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
  background: url("../images/menu.png") center center no-repeat;
  background-size: 24px;
}
#mobile-bar .logo {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../images/logo.png") center center no-repeat;
  top: 5px;
  left: 50%;
  margin-left: -15px;
  background-size: 30px;
}
.sidebar {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 60px;
  bottom: 0;
  overflow-y: scroll;
  padding: 2.2em 0;
  width: 220px;
  margin-right: 20px;
  -webkit-overflow-scrolling: touch;
  border-right: solid 1px;
  border-color: rgba(0,0,0,0.25);
}
.sidebar h2 {
  margin-top: 0.2em;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.8em;
  padding-left: 1em;
}
.sidebar .menu-root {
  padding-left: 0;
}
.sidebar .menu-sub {
  font-size: 0.85em;
}
.sidebar .sidebar-link {
  color: #7f8c8d;
}
.sidebar .sidebar-link.current {
  font-weight: 600;
  color: #42b983;
}
.sidebar .sidebar-link:hover {
  border-bottom: 2px solid #42b983;
}
.sidebar .section-link.active {
  font-weight: bold;
  color: #42b983;
}
.sidebar .main-menu {
  margin-bottom: 20px;
  display: none;
  padding-left: 0;
}
.content {
  padding: 2.2em 1em;
  max-width: 55%;
  margin: 0 auto;
}
.content.with-sidebar {
    margin: 0 0 0 30%;
    width: 100%;
}
.content.api ul {
  font-size: 0.9em;
  padding-left: 1.25em;
  color: #7f8c8d;
}
.content a.button {
  font-size: 1.1em;
  margin: 0.2em 0;
  width: 180px;
  text-align: center;
  padding: 10px 24px;
  display: inline-block;
  vertical-align: middle;
}
.content span.light {
  color: #7f8c8d;
}
.content span.info {
  font-size: 0.85em;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  margin-left: 20px;
}
.content h1 {
  margin: 0 0 1em;
}
.content h2 {
  margin: 2em 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}
.content h3 {
  border-left: 5px solid #42b983;
  margin: 2em 0 0.8em;
  padding-left: 0.5em;
}
.content figure,
.content p,
.content ul,
.content ol {
  margin: 0.8em 0 0.8em 0.8em;
}
.content p,
.content ul,
.content ol {
  line-height: 1.6em;
}
.content ul,
.content ol {
  padding-left: 1em;
}
.content a {
  color: #42b983;
  font-weight: 600;
}
.content blockquote {
  margin: 0;
}
.content blockquote p {
  margin-left: 0;
}
.content iframe {
  margin: 1em 0;
}
.content p.tip {
  padding: 12px 24px 12px 30px;
  margin: 2em 0 2em 0.8em;
  border-left: 4px solid #42b983;
  background-color: #f9f9f9;
  position: relative;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
}
.content p.tip:before {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: -17px;
  background-color: #42b983;
  color: #fff;
  content: "i";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-family: Georgia;
}
.footer {
  text-align:center;
  color: #7f8c8d;
  margin-top: 4em;
  padding-top: 2em;
  border-top: 1px solid #e5e5e5;
  margin-left: 0.8em;
  font-size: 0.9em;
}
@media screen and (min-width: 720px) {
  #main.fix-sidebar .sidebar {
    position: fixed;
  }
}
@media screen and (max-width: 1200px) {
  #ad {
    z-index: 8;
    position: relative;
    width: auto;
    height: 100px;
    padding: 0;
    bottom: 0;
    right: 0;
    margin: 30px 0 35px;
  }
  #ad .carbon-wrap,
  #ad .carbon-img,
  #ad .carbon-text,
  #ad .carbon-poweredby {
    display: inline-block;
    vertical-align: top;
  }
  #ad .carbon-text {
    width: 130px;
    margin-left: 15px;
  }
  #ad .carbon-poweredby {
    position: absolute;
    bottom: 0;
    left: 145px;
  }
}
@media screen and (max-width: 560px) {
  #downloads {
    text-align: center;
    margin-bottom: 25px;
  }
  #downloads .info {
    margin-top: 5px;
    margin-left: 0;
  }
}
@media screen and (max-width: 720px) {
  body {
    -webkit-text-size-adjust: none;
    font-size: 14px;
  }
  #header {
    display: none;
  }
  #logo {
    display: none;
  }
  .nav-link {
    padding-bottom: 1px;
  }
  .nav-link:hover,
  .nav-link.current {
    border-bottom: 2px solid #42b983;
  }
  #mobile-bar {
    display: block;
  }
  #main {
    padding: 2em 1.4em 0;
  }
  .highlight pre {
    padding: 1.2em 1em;
  }
  .sidebar {
    position: fixed;
    background-color: #f9f9f9;
    height: 100%;
    top: 0;
    left: 0;
    padding: 60px 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0, 1);
    transform: translate(-110%, 0);
    -webkit-transform: translate(-110%, 0);
  }
  .sidebar .main-menu {
    display: block;
  }
  .sidebar.open {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
  .content.with-sidebar {
    margin-left: 0;
  }
  .content figure,
  .content p,
  .content ul,
  .content p.tip {
    margin-left: 0;
  }
  .footer {
    margin-left: 0;
    text-align: center;
  }
}



.clearfix {
  overflow: auto;
  zoom: 1;
}
