.gutter pre {
  color: #999;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .class .title {
  color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #42b983;
}
pre .title {
  color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #42b983;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  margin: 0;
}
a {
  text-decoration: none;
  color: #34495e;
}
img {
  border: none;
}
h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
  color: #2c3e50;
}
code,
pre {
  font-family: 'Inconsolata', Monaco, courier, monospace;
  font-size: 0.9em;
  background-color: #f9f9f9;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
code {
  color: #525252;
  padding: 2px 6px;
  margin: 0 2px;
  border: 1px solid #e6e6e6;
  white-space: nowrap;
}
em {
  color: #7f8c8d;
}
p {
  word-spacing: 0.05em;
}
a.button {
  display: inline-block;
  font-size: 1.2em;
  color: #42b983;
  font-weight: 700;
  background-color: #fff;
  padding: 12px 24px;
  border-radius: 24px;
  border: 2px solid #42b983;
  transition: all 0.15s ease;
}
a.button:hover {
  color: #fff;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  background-color: #42b983;
}
.highlight {
  overflow-x: auto;
  position: relative;
  padding: 0;
  background-color: #f9f9f9;
  padding: 0.8em 0.8em 0.4em;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  line-height: 1.1em;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight pre {
  padding: 1.2em 1.5em;
  margin: 0;
}
.highlight .gutter {
  width: 1.5em;
}
.highlight .code pre {
  padding-left: 0.5em;
}
.highlight.html .code:after,
.highlight.js .code:after,
.highlight.bash .code:after,
.highlight.css .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
.highlight.html .code:after {
  content: 'HTML';
}
.highlight.js .code:after {
  content: 'JS';
}
.highlight.bash .code:after {
  content: 'Shell';
}
.highlight.css .code:after {
  content: 'CSS';
}
#main {
  position: relative;
  z-index: 1;
  padding: 0 60px 30px;
  overflow-x: hidden;
}
#ad {
  width: 130px;
  position: fixed;
  z-index: 99;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 13px;
}
#ad .carbon-img,
#ad .carbon-text {
  display: block;
  margin-bottom: 6px;
  font-weight: normal;
  color: #34495e;
}
#ad .carbon-poweredby {
  color: #aaa;
  font-weight: normal;
}
html,
body {
  height: 100%;
}
#nav {
  list-style-type: none;
  text-align: center;
  margin-bottom: 3em;
  padding: 0;
}
#nav li {
  display: inline-block;
}
#nav li:last-child .nav-link {
  margin-right: 0;
}
.nav-link {
  color: #7f8c8d;
  padding-bottom: 3px;
  margin: 0 1.5em;
}
.nav-link:first-child {
  margin-left: 0;
}
.nav-link:hover,
.nav-link.current {
  border-bottom: 3px solid #42b983;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
#logo {
  display: block;
  margin: 0 auto;
  width: 200px;
}
#hero {
  text-align: center;
  height: 100%;
  min-height: 800px;
  position: relative;
}
#hero .inner {
  height: 640px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -360px;
  left: 0;
}
#hero h1 {
  font-family: 'Lato', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 3em;
  margin: 0.5em 0 0;
}
#hero .sub {
  color: #34495e;
  font-size: 1.2em;
}
#hero .warning {
  color: #7f8c8d;
}
#hero .desc {
  max-width: 800px;
  padding: 0 20px;
  text-align: center;
  margin: 1.5em auto;
  color: #7f8c8d;
}
#hero .down {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1.5em 0;
}
#hero .down img {
  width: 20px;
}
#hero a.button {
  width: 180px;
  margin: 0.5em;
}
#social {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 14px;
  margin-top: 2em;
}
#social li {
  display: inline-block;
  margin: 0 5px;
  width: 95px;
}
#example {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto 3em;
}
#example h2 {
  margin-bottom: 1.5em;
}
#example code,
#example pre {
  background-color: transparent;
}
#example figure.highlight {
  margin: 0;
  box-shadow: none;
  background-color: transparent;
}
#example .sign {
  display: inline-block;
  height: 10em;
  line-height: 9em;
  padding: 0 0.5em;
  font-weight: 600;
  color: #7f8c8d;
}
#example .block {
  text-align: left;
  display: inline-block;
  width: 28%;
  height: 10em;
  vertical-align: top;
  background-color: #f9f9f9;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.125);
}
#example #demo {
  padding: 0 20px;
}
#example #demo input {
  font-size: 0.75em;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 2px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
#example #demo input:focus {
  outline: none;
  border-color: #42b983;
}
#features {
  padding: 3em 0;
  text-align: center;
  background-color: #f9f9f9;
}
#features .cool {
  font-size: 1.8em;
  text-align: center;
  margin-top: 1em;
  color: #7f8c8d;
}
#features .feats {
  max-width: 1200px;
  margin: 0 auto;
}
#features .feat {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 280px;
  margin: 40px;
}
#features .feat h2 {
  color: #34495e;
  line-height: 40px;
  margin-bottom: 0;
}
#features .feat p {
  color: #7f8c8d;
  padding-left: 52px;
  margin: 0.4em 0;
}
#features .feat a {
  color: #42b983;
  font-weight: 600;
}
#features .icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  background: url("../images/icons.png");
  background-size: 240px 40px;
}
#features .icon.fast {
  background-position: -40px 0;
}
#features .icon.compact {
  background-position: -80px 0;
}
#features .icon.powerful {
  background-position: -120px 0;
}
#features .icon.composable {
  background-position: -160px 0;
}
#features .icon.module {
  background-position: -200px 0;
}
#why {
  padding: 4em 0;
  background-color: #42b983;
  color: #fff;
}
#why h2 {
  margin-top: 0;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}
#why ul {
  line-height: 1.8em;
  font-size: 1.15em;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
#why ul li:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/check.png") center center no-repeat;
  background-size: 24px 24px;
  margin-right: 10px;
  position: relative;
  top: 4px;
}
#footer {
  text-align: center;
  color: #fff;
  padding: 4em 0;
  background-color: #7f8c8d;
}
#footer .avatar {
  width: 100px;
  border-radius: 100%;
  margin: 2.5em 0 1em;
}
#footer a {
  color: #fff;
  text-decoration: underline;
}
#footer a.start {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #fff;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 25px;
  transition: all 0.15s ease;
  margin-bottom: 2em;
}
#footer a.start:hover {
  background-color: #fff;
  color: #7f8c8d;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
#footer p {
  margin: 0.3em 0;
}
#main {
  display: none;
}
@media screen and (max-width: 420px) {
  body {
    font-size: 14px;
  }
  #nav {
    margin: 2em 0;
  }
  #logo {
    width: 100px;
  }
  .nav-link {
    font-size: 0.85em;
    margin: 0 0.5em;
  }
  .divider {
    font-size: 1.2em;
    margin: 2.5em 1em;
  }
  #hero {
    min-height: 560px;
  }
  #hero .inner {
    height: 600px;
    margin-top: -300px;
  }
  #hero h1 {
    font-size: 2em;
  }
  #hero a.button {
    font-size: 1em;
    margin: 0.5em 0;
  }
  #hero .sub {
    font-size: 1em;
  }
  #hero .warning,
  #hero .desc {
    font-size: 0.9em;
    margin: 1em 0;
  }
  #hero .warning br,
  #hero .desc br {
    display: none;
  }
  #hero .down {
    display: none;
  }
  #social {
    margin-top: 1.5em;
  }
  #social li {
    width: 90px;
  }
  .cool {
    margin-top: 0;
  }
  #features .feat {
    font-size: 14px;
    margin: 0.8em 0;
    width: 250px;
  }
  #why ul {
    width: 280px;
    font-size: 1.1em;
  }
  #why h2 {
    font-size: 1.4em;
  }
  #ad {
    position: static;
  }
  #ad .carbon-img,
  #ad .carbon-text,
  #ad .carbon-poweredby {
    display: inline-block;
  }
}
@media screen and (max-width: 860px) {
  #features,
  #hero {
    font-size: 16px;
  }
  #example .block {
    display: block;
    width: auto;
    height: auto;
  }
  #example #demo {
    padding: 5px 20px 20px;
  }
  #example .sign {
    display: block;
    height: 1em;
    line-height: 1em;
    padding: 0.5em 0;
  }
}



.clearfix {
  overflow: auto;
  zoom: 1;
}
