<div class="headbar">
    <a id="logo" href="{{ site.baseurl }}/">
        <img src="{{site.logo  | prepend: site.baseurl}}">
        <span>{{ site.title }}</span>
    </a>
    <ul id="nav">
        <li>
            <a class="nav-link " href="{{ site.baseurl }}/guide">Guide </a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/api">API Reference</a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/examples">Examples </a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/blog">Material </a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.github }}">GitHub</a>
        </li>
    </ul>
</div>
