    <ul class="main-menu">
        <li>
            <a class="nav-link " href="{{ site.baseurl }}/guide">Guide </a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/api">API Reference</a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/examples">Examples </a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/blog">Material </a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.github }}">GitHub</a>
        </li>
    </ul>
