    <ul class="main-menu">
        <li>
            <a class="nav-link " href="{{ site.baseurl }}/">主页 </a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/archive.html">归档</a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/category.html">分类</a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/tags.html">标签 </a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/links.html">友情链接</a>
        </li>
        <li>
            <a class="nav-link" href="{{ site.baseurl }}/about.html">关于</a>
        </li>
    </ul>
